option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:command:
    Timeout: 900

container_commands:
  01_clear_pip_cache:
    command: "pip cache purge"